In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ["Alice", "Bob", "Kyle"],
    "marks" : [78, 88, 98],
    "city" : ["NY", "Italy" , "Mountain view"]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

    name  marks           city
0  Alice     78             NY
1    Bob     88          Italy
2   Kyle     98  Mountain view

In [5]:
df.to_csv('colleagues.csv', index=False)

In [6]:
df.head(2)

    name  marks   city
0  Alice     78     NY
1    Bob     88  Italy

In [7]:
df.tail(2)

   name  marks           city
1   Bob     88          Italy
2  Kyle     98  Mountain view

In [8]:
df.describe()

       marks
count    3.0
mean    88.0
std     10.0
min     78.0
25%     83.0
50%     88.0
75%     93.0
max     98.0

In [9]:
regression_df = pd.read_csv('regression.csv')

In [10]:
regression_df

,CUSTODIAN,CREDENTIAL,ACCOUNT,DATE,TYPE,SECTION,SUB_SECTION,BASE_SECURITY_ID,BASE_VALUE,TEST_SECURITY_ID,TEST_VALUE,BASE_TRACE,TEST_TRACE,ADP_TOKEN
0,trbetastifelcustodianservice,HV41,60681846,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",60681846::HV41::2024-06-24::trbetastifelcustod...
1,trbetastifelcustodianservice,HV41,21147761,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787233,INCOME,1787233,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",21147761::HV41::2024-06-24::trbetastifelcustod...
2,trbetastifelcustodianservice,HV41,15369728,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",15369728::HV41::2024-06-24::trbetastifelcustod...
3,trbetastifelcustodianservice,HV41,40586447,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",40586447::HV41::2024-06-24::trbetastifelcustod...
4,trbetastifelcustodianservice,QP41,84457566,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787209,INCOME,1787209,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",84457566::QP41::2024-06-24::trbetastifelcustod...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1147,trbetastifelcustodianservice,UZ60,53120113,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787233,INCOME,1787233,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",53120113::UZ60::2024-06-24::trbetastifelcustod...
1148,trbetastifelcustodianservice,QN15,42135660,2024-06-25,FIELD_DIFFERENCE,TRANSACTION,type,1599468,INCOME,1599468,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",42135660::QN15::2024-06-25::trbetastifelcustod...
1149,trbetastifelcustodianservice,QN15,50221750,2024-06-25,FIELD_DIFFERENCE,TRANSACTION,type,1599468,INCOME,1599468,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",50221750::QN15::2024-06-25::trbetastifelcustod...
1150,trbetastifelcustodianservice,HU04,31009814,2024-06-25,FIELD_DIFFERENCE,TRANSACTION,type,1599449,INCOME,1599449,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",31009814::HU04::2024-06-25::trbetastifelcustod...
1151,trbetastifelcustodianservice,HU08,77018354,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",77018354::HU08::2024-06-24::trbetastifelcustod...

In [11]:
regression_df['ACCOUNT'][0]=1

/var/folders/gn/wsrnq6qd4fd4fj26m6b8vmyc0000gn/T/ipykernel_30883/3424866168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regression_df['ACCOUNT'][0]=1

In [12]:
regression_df['ACCOUNT']

0              1
1       21147761
2       15369728
3       40586447
4       84457566
          ...
1147    53120113
1148    42135660
1149    50221750
1150    31009814
1151    77018354
Name: ACCOUNT, Length: 1152, dtype: int64

In [13]:
ser = pd.Series(np.random.rand(30))

In [14]:
# ser

In [15]:
type(ser)

pandas.core.series.Series

In [16]:
newdf = pd.DataFrame(np.random.rand(300,5), index=np.arange(300))

In [17]:
type(newdf)

pandas.core.frame.DataFrame

In [18]:
regression_df.dtypes

CUSTODIAN           object
CREDENTIAL          object
ACCOUNT              int64
DATE                object
TYPE                object
SECTION             object
SUB_SECTION         object
BASE_SECURITY_ID     int64
BASE_VALUE          object
TEST_SECURITY_ID     int64
TEST_VALUE          object
BASE_TRACE          object
TEST_TRACE          object
ADP_TOKEN           object
dtype: object

In [19]:
regression_df.index

RangeIndex(start=0, stop=1152, step=1)

In [20]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
           dtype='int64', length=300)

In [21]:
regression_df.columns

Index(['CUSTODIAN', 'CREDENTIAL', 'ACCOUNT', 'DATE', 'TYPE', 'SECTION',
       'SUB_SECTION', 'BASE_SECURITY_ID', 'BASE_VALUE', 'TEST_SECURITY_ID',
       'TEST_VALUE', 'BASE_TRACE', 'TEST_TRACE', 'ADP_TOKEN'],
      dtype='object')

In [22]:
regression_df.to_numpy()

array([['trbetastifelcustodianservice', 'HV41', 1, ...,
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HV41 Account: 60681846 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "INCOME",\n  "units" : 110.25,\n  "security_id" : "1787235",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL S 062424         668.19900",\n  "transaction_id" : "trbetastifelcustodianservice_HV41_60681846_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HV41 Account: 60681846 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "LONG_TERM_CAPITAL_GAINS",\n  "units" : 110.25,\n  "security_id" : "1787235",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL S 062424         668.19900",\n  "transaction_id" : "trbetastifelcustodianservice_HV41_60681846_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '60681846::HV41::2024-06-24::trbetastifelcustodianservice::CSV'],
       ['trbetastifelcustodianservice', 'HV41', 21147761, ...,
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HV41 Account: 21147761 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "INCOME",\n  "units" : 510.09,\n  "security_id" : "1787233",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL A 062424       3,091.46300",\n  "transaction_id" : "trbetastifelcustodianservice_HV41_21147761_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HV41 Account: 21147761 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "LONG_TERM_CAPITAL_GAINS",\n  "units" : 510.09,\n  "security_id" : "1787233",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL A 062424       3,091.46300",\n  "transaction_id" : "trbetastifelcustodianservice_HV41_21147761_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '21147761::HV41::2024-06-24::trbetastifelcustodianservice::CSV'],
       ['trbetastifelcustodianservice', 'HV41', 15369728, ...,
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HV41 Account: 15369728 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "INCOME",\n  "units" : 458.32,\n  "security_id" : "1787235",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL S 062424       2,777.71500",\n  "transaction_id" : "trbetastifelcustodianservice_HV41_15369728_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HV41 Account: 15369728 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "LONG_TERM_CAPITAL_GAINS",\n  "units" : 458.32,\n  "security_id" : "1787235",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL S 062424       2,777.71500",\n  "transaction_id" : "trbetastifelcustodianservice_HV41_15369728_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '15369728::HV41::2024-06-24::trbetastifelcustodianservice::CSV'],
       ...,
       ['trbetastifelcustodianservice', 'QN15', 50221750, ...,
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-25 Credential: QN15 Account: 50221750 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "INCOME",\n  "units" : 236.66,\n  "security_id" : "1599468",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-25",\n  "settle_date" : "2024-06-25",\n  "cash_account" : "USD_1",\n  "comment" : "COLUMBIA              ^ SMALL CAP VALUE I INSTL CL 062424         127.46200",\n  "transaction_id" : "trbetastifelcustodianservice_QN15_50221750_2024-06-25_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-25 Credential: QN15 Account: 50221750 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "LONG_TERM_CAPITAL_GAINS",\n  "units" : 236.66,\n  "security_id" : "1599468",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-25",\n  "settle_date" : "2024-06-25",\n  "cash_account" : "USD_1",\n  "comment" : "COLUMBIA              ^ SMALL CAP VALUE I INSTL CL 062424         127.46200",\n  "transaction_id" : "trbetastifelcustodianservice_QN15_50221750_2024-06-25_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '50221750::QN15::2024-06-25::trbetastifelcustodianservice::CSV'],
       ['trbetastifelcustodianservice', 'HU04', 31009814, ...,
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-25 Credential: HU04 Account: 31009814 FileName: cash_transactions.csv Line: 0}"\n  },\n  "type" : "INCOME",\n  "units" : 299.99,\n  "security_id" : "1599449",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-25",\n  "settle_date" : "2024-06-25",\n  "cash_account" : "USD_1",\n  "comment" : "COLUMBIA              ^ SMALL CAP VALUE I CL A 062424         161.57300",\n  "transaction_id" : "trbetastifelcustodianservice_HU04_31009814_2024-06-25_cash_transactions.csv_0",\n  "currency_code" : "USD"\n}',
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-25 Credential: HU04 Account: 31009814 FileName: cash_transactions.csv Line: 0}"\n  },\n  "type" : "LONG_TERM_CAPITAL_GAINS",\n  "units" : 299.99,\n  "security_id" : "1599449",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-25",\n  "settle_date" : "2024-06-25",\n  "cash_account" : "USD_1",\n  "comment" : "COLUMBIA              ^ SMALL CAP VALUE I CL A 062424         161.57300",\n  "transaction_id" : "trbetastifelcustodianservice_HU04_31009814_2024-06-25_cash_transactions.csv_0",\n  "currency_code" : "USD"\n}',
        '31009814::HU04::2024-06-25::trbetastifelcustodianservice::CSV'],
       ['trbetastifelcustodianservice', 'HU08', 77018354, ...,
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HU08 Account: 77018354 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "INCOME",\n  "units" : 299.33,\n  "security_id" : "1787235",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL S 062424       1,814.12500",\n  "transaction_id" : "trbetastifelcustodianservice_HU08_77018354_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '{\n  "meta" : {\n    "TRACE" : " {Custodian: trbetastifelcustodianservice Date: 2024-06-24 Credential: HU08 Account: 77018354 FileName: cash_transactions.csv Line: 1}"\n  },\n  "type" : "LONG_TERM_CAPITAL_GAINS",\n  "units" : 299.33,\n  "security_id" : "1787235",\n  "trade_date" : "2024-06-24",\n  "posted_date" : "2024-06-24",\n  "settle_date" : "2024-06-24",\n  "cash_account" : "USD_1",\n  "comment" : "DWS                   ^ RREEF GLOBAL INFRA CL S 062424       1,814.12500",\n  "transaction_id" : "trbetastifelcustodianservice_HU08_77018354_2024-06-24_cash_transactions.csv_1",\n  "currency_code" : "USD"\n}',
        '77018354::HU08::2024-06-24::trbetastifelcustodianservice::CSV']],
      dtype=object)

In [23]:
regression_df.head()

,CUSTODIAN,CREDENTIAL,ACCOUNT,DATE,TYPE,SECTION,SUB_SECTION,BASE_SECURITY_ID,BASE_VALUE,TEST_SECURITY_ID,TEST_VALUE,BASE_TRACE,TEST_TRACE,ADP_TOKEN
0,trbetastifelcustodianservice,HV41,1,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",60681846::HV41::2024-06-24::trbetastifelcustod...
1,trbetastifelcustodianservice,HV41,21147761,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787233,INCOME,1787233,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",21147761::HV41::2024-06-24::trbetastifelcustod...
2,trbetastifelcustodianservice,HV41,15369728,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",15369728::HV41::2024-06-24::trbetastifelcustod...
3,trbetastifelcustodianservice,HV41,40586447,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",40586447::HV41::2024-06-24::trbetastifelcustod...
4,trbetastifelcustodianservice,QP41,84457566,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787209,INCOME,1787209,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",84457566::QP41::2024-06-24::trbetastifelcustod...

In [24]:
regression_df.T

,0,1,2,3,4,5,6,7,8,9,...,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151
CUSTODIAN,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,...,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice,trbetastifelcustodianservice
CREDENTIAL,HV41,HV41,HV41,HV41,QP41,QP41,DJ46,DJ46,MD12,HW05,...,MA40,UZ62,UZ61,UZ61,UZ60,UZ60,QN15,QN15,HU04,HU08
ACCOUNT,1,21147761,15369728,40586447,84457566,60812407,70999414,18746720,40107372,27422507,...,48763823,49758796,47238956,15232834,71420899,53120113,42135660,50221750,31009814,77018354
DATE,2024-06-24,2024-06-24,2024-06-24,2024-06-24,2024-06-24,2024-06-24,2024-06-24,2024-06-25,2024-06-25,2024-06-24,...,2024-06-25,2024-06-24,2024-06-24,2024-06-24,2024-06-24,2024-06-24,2024-06-25,2024-06-25,2024-06-25,2024-06-24
TYPE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,...,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE,FIELD_DIFFERENCE
SECTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,...,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION,TRANSACTION
SUB_SECTION,type,type,type,type,type,type,type,type,type,type,...,type,type,type,type,type,type,type,type,type,type
BASE_SECURITY_ID,1787235,1787233,1787235,1787235,1787209,1787209,1787212,1599449,1599449,1095234,...,1599449,1787233,1787233,1787233,1787235,1787233,1599468,1599468,1599449,1787235
BASE_VALUE,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,...,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME,INCOME
TEST_SECURITY_ID,1787235,1787233,1787235,1787235,1787209,1787209,1787212,1599449,1599449,1095234,...,1599449,1787233,1787233,1787233,1787235,1787233,1599468,1599468,1599449,1787235
TEST_VALUE,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,SHORT_TERM_CAPITAL_GAINS,...,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS,LONG_TERM_CAPITAL_GAINS
BASE_TRACE,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",...,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t..."
TEST_TRACE,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",...,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t..."
ADP_TOKEN,60681846::HV41::2024-06-24::trbetastifelcustod...,21147761::HV41::2024-06-24::trbetastifelcustod...,15369728::HV41::2024-06-24::trbetastifelcustod...,40586447::HV41::2024-06-24::trbetastifelcustod...,84457566::QP41::2024-06-24::trbetastifelcustod...,60812407::QP41::2024-06-24::trbetastifelcustod...,70999414::DJ46::2024-06-24::trbetastifelcustod...,18746720::DJ46::2024-06-25::trbetastifelcustod...,40107372::MD12::2024-06-25::trbetastifelcustod...,27422507::HW05::2024-06-24::trbetastifelcustod...,...,48763823::MA40::2024-06-25::trbetastifelcustod...,49758796::UZ62::2024-06-24::trbetastifelcustod...,47238956::UZ61::2024-06-24::trbetastifelcustod...,15232834::UZ61::2024-06-24::trbetastifelcustod...,71420899::UZ60::2024-06-24::trbetastifelcustod...,53120113::UZ60::2024-06-24::trbetastifelcustod...,42135660::QN15::2024-06-25::trbetastifelcustod...,50221750::QN15::2024-06-25::trbetastifelcustod...,31009814::HU04::2024-06-25::trbetastifelcustod...,77018354::HU08::2024-06-24::trbetastifelcustod...

In [25]:
regression_df.head()

,CUSTODIAN,CREDENTIAL,ACCOUNT,DATE,TYPE,SECTION,SUB_SECTION,BASE_SECURITY_ID,BASE_VALUE,TEST_SECURITY_ID,TEST_VALUE,BASE_TRACE,TEST_TRACE,ADP_TOKEN
0,trbetastifelcustodianservice,HV41,1,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",60681846::HV41::2024-06-24::trbetastifelcustod...
1,trbetastifelcustodianservice,HV41,21147761,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787233,INCOME,1787233,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",21147761::HV41::2024-06-24::trbetastifelcustod...
2,trbetastifelcustodianservice,HV41,15369728,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",15369728::HV41::2024-06-24::trbetastifelcustod...
3,trbetastifelcustodianservice,HV41,40586447,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",40586447::HV41::2024-06-24::trbetastifelcustod...
4,trbetastifelcustodianservice,QP41,84457566,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787209,INCOME,1787209,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",84457566::QP41::2024-06-24::trbetastifelcustod...

In [26]:
regression_df.sort_index(axis=0, ascending= False) # axis = 0 sort the rows

,CUSTODIAN,CREDENTIAL,ACCOUNT,DATE,TYPE,SECTION,SUB_SECTION,BASE_SECURITY_ID,BASE_VALUE,TEST_SECURITY_ID,TEST_VALUE,BASE_TRACE,TEST_TRACE,ADP_TOKEN
1151,trbetastifelcustodianservice,HU08,77018354,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",77018354::HU08::2024-06-24::trbetastifelcustod...
1150,trbetastifelcustodianservice,HU04,31009814,2024-06-25,FIELD_DIFFERENCE,TRANSACTION,type,1599449,INCOME,1599449,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",31009814::HU04::2024-06-25::trbetastifelcustod...
1149,trbetastifelcustodianservice,QN15,50221750,2024-06-25,FIELD_DIFFERENCE,TRANSACTION,type,1599468,INCOME,1599468,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",50221750::QN15::2024-06-25::trbetastifelcustod...
1148,trbetastifelcustodianservice,QN15,42135660,2024-06-25,FIELD_DIFFERENCE,TRANSACTION,type,1599468,INCOME,1599468,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",42135660::QN15::2024-06-25::trbetastifelcustod...
1147,trbetastifelcustodianservice,UZ60,53120113,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787233,INCOME,1787233,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",53120113::UZ60::2024-06-24::trbetastifelcustod...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,trbetastifelcustodianservice,QP41,84457566,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787209,INCOME,1787209,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",84457566::QP41::2024-06-24::trbetastifelcustod...
3,trbetastifelcustodianservice,HV41,40586447,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",40586447::HV41::2024-06-24::trbetastifelcustod...
2,trbetastifelcustodianservice,HV41,15369728,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",15369728::HV41::2024-06-24::trbetastifelcustod...
1,trbetastifelcustodianservice,HV41,21147761,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787233,INCOME,1787233,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",21147761::HV41::2024-06-24::trbetastifelcustod...
0,trbetastifelcustodianservice,HV41,1,2024-06-24,FIELD_DIFFERENCE,TRANSACTION,type,1787235,INCOME,1787235,LONG_TERM_CAPITAL_GAINS,"{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...","{\n ""meta"" : {\n ""TRACE"" : "" {Custodian: t...",60681846::HV41::2024-06-24::trbetastifelcustod...

In [27]:
newdf

            0         1         2         3         4
0    0.698301  0.290605  0.541515  0.637741  0.112258
1    0.719170  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874  0.707040  0.776989  0.409457  0.692619
..        ...       ...       ...       ...       ...
295  0.179150  0.691918  0.401984  0.780443  0.286508
296  0.250500  0.077468  0.061646  0.203177  0.863593
297  0.082800  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[300 rows x 5 columns]

In [28]:
newdf2 = newdf # newdf2 treats as views which only copy the memory address

In [29]:
newdf2[0][0]= 'test'

In [30]:
newdf

            0         1         2         3         4
0        test  0.290605  0.541515  0.637741  0.112258
1     0.71917  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874  0.707040  0.776989  0.409457  0.692619
..        ...       ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.780443  0.286508
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[300 rows x 5 columns]

In [31]:
newdf2 = newdf.copy()

In [32]:
newdf2[0][0]='ABC'

/var/folders/gn/wsrnq6qd4fd4fj26m6b8vmyc0000gn/T/ipykernel_30883/3451477402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[0][0]='ABC'

In [33]:
newdf2

            0         1         2         3         4
0         ABC  0.290605  0.541515  0.637741  0.112258
1     0.71917  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874  0.707040  0.776989  0.409457  0.692619
..        ...       ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.780443  0.286508
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[300 rows x 5 columns]

In [34]:
newdf2.loc[0,1]='DEF' # we should update the value using loc function instead of above, because pandas sometimes 
# returns view instead of copy the df.

In [35]:
newdf2

            0         1         2         3         4
0         ABC       DEF  0.541515  0.637741  0.112258
1     0.71917  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874   0.70704  0.776989  0.409457  0.692619
..        ...       ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.780443  0.286508
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[300 rows x 5 columns]

In [36]:
#changing column header to ABCD
newdf2.columns=list('ABCDE')

In [37]:
newdf2

            A         B         C         D         E
0         ABC       DEF  0.541515  0.637741  0.112258
1     0.71917  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874   0.70704  0.776989  0.409457  0.692619
..        ...       ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.780443  0.286508
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[300 rows x 5 columns]

In [38]:
newdf2.head(2)

         A         B         C         D         E
0      ABC       DEF  0.541515  0.637741  0.112258
1  0.71917  0.606736  0.387587  0.888665  0.503234

In [39]:
newdf2.loc[0, 'A']='GHI'

In [40]:
newdf2.head(2)

         A         B         C         D         E
0      GHI       DEF  0.541515  0.637741  0.112258
1  0.71917  0.606736  0.387587  0.888665  0.503234

In [41]:
newdf2.loc[[1,2],['A','B']]

          A         B
1   0.71917  0.606736
2  0.837607  0.848112

In [42]:
newdf2.loc[:,['A','B']]

            A         B
0         GHI       DEF
1     0.71917  0.606736
2    0.837607  0.848112
3    0.103204  0.498011
4    0.413874   0.70704
..        ...       ...
295   0.17915  0.691918
296    0.2505  0.077468
297    0.0828  0.981964
298  0.522688  0.861029
299  0.216125  0.888716

[300 rows x 2 columns]

In [43]:
newdf2.loc[:,:]

            A         B         C         D         E
0         GHI       DEF  0.541515  0.637741  0.112258
1     0.71917  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874   0.70704  0.776989  0.409457  0.692619
..        ...       ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.780443  0.286508
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[300 rows x 5 columns]

In [44]:
# filtering 
newdf2.loc[(newdf2['C']<0.3)]

            A         B         C         D         E
15   0.467573  0.554441  0.182108  0.195449  0.792606
16   0.080153  0.548982  0.236162  0.373845  0.696410
17   0.862363  0.821737  0.071542  0.424938  0.827467
20   0.375659  0.016323  0.117203  0.154817  0.063587
24   0.388595  0.628695  0.018519  0.868224  0.917496
..        ...       ...       ...       ...       ...
285  0.942884  0.956051  0.262719  0.752415  0.742051
289  0.000023  0.348436  0.149277  0.472835  0.945891
293  0.549202  0.731872  0.038169  0.277533  0.958411
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421

[92 rows x 5 columns]

In [45]:
newdf2.head(2)

         A         B         C         D         E
0      GHI       DEF  0.541515  0.637741  0.112258
1  0.71917  0.606736  0.387587  0.888665  0.503234

In [46]:
newdf2.iloc[0,3]

0.6377413117642676

In [47]:
newdf2.drop([0])

            A         B         C         D         E
1     0.71917  0.606736  0.387587  0.888665  0.503234
2    0.837607  0.848112  0.887267  0.442811  0.506455
3    0.103204  0.498011  0.875859  0.360715  0.797860
4    0.413874   0.70704  0.776989  0.409457  0.692619
5    0.177319  0.020365  0.767826  0.709328  0.043742
..        ...       ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.780443  0.286508
296    0.2505  0.077468  0.061646  0.203177  0.863593
297    0.0828  0.981964  0.272319  0.940658  0.535421
298  0.522688  0.861029  0.963508  0.766862  0.007990
299  0.216125  0.888716  0.651363  0.940841  0.855733

[299 rows x 5 columns]

In [48]:
newdf2.drop([ 'D'], axis = 1, inplace=True) #inplace true will modified the original df

In [49]:
newdf2

            A         B         C         E
0         GHI       DEF  0.541515  0.112258
1     0.71917  0.606736  0.387587  0.503234
2    0.837607  0.848112  0.887267  0.506455
3    0.103204  0.498011  0.875859  0.797860
4    0.413874   0.70704  0.776989  0.692619
..        ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.286508
296    0.2505  0.077468  0.061646  0.863593
297    0.0828  0.981964  0.272319  0.535421
298  0.522688  0.861029  0.963508  0.007990
299  0.216125  0.888716  0.651363  0.855733

[300 rows x 4 columns]

In [56]:
newdf2.loc[0,0]=None

In [57]:
newdf2.head(2)

         A         B         C         E   0
0      GHI       DEF  0.541515  0.112258 NaN
1  0.71917  0.606736  0.387587  0.503234 NaN

In [59]:
newdf2[0].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
295    True
296    True
297    True
298    True
299    True
Name: 0, Length: 300, dtype: bool

In [62]:
newdf2.drop(0, axis=1, inplace=True)

In [63]:
newdf2

            A         B         C         E
0         GHI       DEF  0.541515  0.112258
1     0.71917  0.606736  0.387587  0.503234
2    0.837607  0.848112  0.887267  0.506455
3    0.103204  0.498011  0.875859  0.797860
4    0.413874   0.70704  0.776989  0.692619
..        ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.286508
296    0.2505  0.077468  0.061646  0.863593
297    0.0828  0.981964  0.272319  0.535421
298  0.522688  0.861029  0.963508  0.007990
299  0.216125  0.888716  0.651363  0.855733

[300 rows x 4 columns]

In [69]:
newdf2.loc[1,'B']= 'NA'
newdf2.loc[2,'C']= pd.NaT

In [70]:
newdf2.head(5)

          A         B         C         E    c
0       GHI       DEF  0.541515  0.112258  NaN
1   0.71917        NA  0.387587  0.503234  NaN
2  0.837607  0.848112       NaT  0.506455  NAT
3  0.103204  0.498011  0.875859  0.797860  NaN
4  0.413874   0.70704  0.776989  0.692619  NaN

In [73]:
newdf2.dropna(how='all')

            A         B         C         E    c
0         GHI       DEF  0.541515  0.112258  NaN
1     0.71917        NA  0.387587  0.503234  NaN
2    0.837607  0.848112       NaT  0.506455  NAT
3    0.103204  0.498011  0.875859  0.797860  NaN
4    0.413874   0.70704  0.776989  0.692619  NaN
..        ...       ...       ...       ...  ...
295   0.17915  0.691918  0.401984  0.286508  NaN
296    0.2505  0.077468  0.061646  0.863593  NaN
297    0.0828  0.981964  0.272319  0.535421  NaN
298  0.522688  0.861029  0.963508  0.007990  NaN
299  0.216125  0.888716  0.651363  0.855733  NaN

[300 rows x 5 columns]

In [74]:
newdf2.dropna()

Empty DataFrame
Columns: [A, B, C, E, c]
Index: []

In [77]:
newdf2.drop('c', axis = 1, inplace = True)

In [78]:
newdf2.head(5)

          A         B         C         E
0       GHI       DEF  0.541515  0.112258
1   0.71917        NA  0.387587  0.503234
2  0.837607  0.848112       NaT  0.506455
3  0.103204  0.498011  0.875859  0.797860
4  0.413874   0.70704  0.776989  0.692619

In [79]:
newdf2.dropna()

            A         B         C         E
0         GHI       DEF  0.541515  0.112258
1     0.71917        NA  0.387587  0.503234
3    0.103204  0.498011  0.875859  0.797860
4    0.413874   0.70704  0.776989  0.692619
5    0.177319  0.020365  0.767826  0.043742
..        ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.286508
296    0.2505  0.077468  0.061646  0.863593
297    0.0828  0.981964  0.272319  0.535421
298  0.522688  0.861029  0.963508  0.007990
299  0.216125  0.888716  0.651363  0.855733

[299 rows x 4 columns]

In [86]:
newdf2.drop_duplicates(subset=['A'], keep = 'first')

            A         B         C         E
0         GHI       DEF  0.541515  0.112258
1     0.71917        NA  0.387587  0.503234
2    0.837607  0.848112       NaT  0.506455
3    0.103204  0.498011  0.875859  0.797860
4    0.413874   0.70704  0.776989  0.692619
..        ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.286508
296    0.2505  0.077468  0.061646  0.863593
297    0.0828  0.981964  0.272319  0.535421
298  0.522688  0.861029  0.963508  0.007990
299  0.216125  0.888716  0.651363  0.855733

[300 rows x 4 columns]

In [90]:
newdf2.shape

(300, 4)

In [92]:
newdf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       300 non-null    object
 1   B       300 non-null    object
 2   C       299 non-null    object
 3   E       300 non-null    float64
dtypes: float64(1), object(3)
memory usage: 19.8+ KB

In [98]:
newdf2['A'].value_counts(dropna='False') # need to explore

GHI                    1
0.11716899118074497    1
0.32202146751605243    1
0.2848473107098509     1
0.4470184206972214     1
                      ..
0.6859178071041354     1
0.05931028839177488    1
0.34507801381218595    1
0.01305789994261597    1
0.21612465018935656    1
Name: A, Length: 300, dtype: int64

In [97]:
newdf2

            A         B         C         E
0         GHI       DEF  0.541515  0.112258
1     0.71917        NA  0.387587  0.503234
2    0.837607  0.848112       NaT  0.506455
3    0.103204  0.498011  0.875859  0.797860
4    0.413874   0.70704  0.776989  0.692619
..        ...       ...       ...       ...
295   0.17915  0.691918  0.401984  0.286508
296    0.2505  0.077468  0.061646  0.863593
297    0.0828  0.981964  0.272319  0.535421
298  0.522688  0.861029  0.963508  0.007990
299  0.216125  0.888716  0.651363  0.855733

[300 rows x 4 columns]